.section {
    background-color: white;
    margin: 10px 0;

}
.section__header {
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
           
}
@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}
.section__title {
font-size: 20px;
margin:0;
}
.section__title--first {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.section__container {
    padding: 20px
}